<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logicgrid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LogicGrid">

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LogicGrid.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LevelSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LogicGrid.NoActionBar" />

        <activity
            android:name=".GameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LogicGrid.NoActionBar" />

    </application>

</manifest>